convertx_port=3444

# Account settings
ACCOUNT_REGISTRATION=false

# Replace with a long random secret phrase
JWT_SECRET=change-me-to-a-long-random-secret

# Set to true to allow plain HTTP access (required behind Traefik)
HTTP_ALLOWED=true

# Allows anyone to use the service without logging in, only set to true locally
ALLOW_UNAUTHENTICATED=false

# Automatically delete converted files after N hours
AUTO_DELETE_EVERY_N_HOURS=24
